.noto-sans-tc {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#212529;
}
.container {
    width: 856px;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 48px;
}
.containerImg {
    width: 1076px;
    margin: 0 auto;
    overflow: hidden;
}
.mb-12 {
    margin-bottom: 12px;
}
.mb-16 {
    margin-bottom: 16px;
}
.mb-48 {
    margin-bottom: 48px;
}
.mb-64 {
    margin-bottom: 64px;
}
.pr-8 {
    padding-right: 8px;
}
.pl-8 {
    padding-left: 8px;
}
.pl-12 {
    padding-left: 12px;
}
.pt-8 {
    padding-top: 8px;
}
.pt-24 {
    padding-top: 24px;
}
.pb-3 {
    padding-bottom: 3px;
}
.pb-4 {
    padding-bottom: 4px;
}
.pb-8{
    padding-bottom: 8px;
}
.pb-12{
    padding-bottom: 12px; ;
}
.pb-16 {
    padding-bottom: 16px;
}
.pb-24 {
    padding-bottom: 24px;
}
.pb-48 {
    padding-bottom: 48px;
}
.fs-14 {
    font-size: 14px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.fs-28 {
    font-size: 28px;
}
.fs-40 {
    font-size: 40px;
}
.fw-500 {
    font-weight: 500px;
}
.fw-700 {
    font-weight: 700;
}
.lh-120 {
    line-height: 1.2;
}
.lh-150 {
    line-height: 1.5;
}
.ls-005 {
    letter-spacing: 0.05em;
}
.green {
    color: #57A203;
}
.bl-1 {
    border-left: 1px solid #212529;
}
.bl-3 {
    border-left: 3px solid #DEE2E6;
}
.bb-1 {
    border-bottom: 1px solid #DEE2E6;
}
.header {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.4);
}
.banner {
    color: #fff;
    text-align: center;
    padding: 151px 0;
}
.BlockQuote {
    background-color: #F5FEE7;
    text-align: center;
    padding: 32px;
    border-radius: 4px;
}
.MainImg {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.History .list {
    list-style: disc inside;
}
.BrandStory .link {
    display: inline-block;
    color: #57A203;
    text-decoration: none;
    border-bottom: 1px solid #57A203;
}
.footer {
    background-color: #F8F9FA;
}
.Copyright {
    text-align: center;
    padding: 64px 0;
    color: rgba(108, 117, 125, 1);
}